* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fbfbf2 !important;
}

main {
  flex: 1;
}

/* navbar */
.navbar {
  height: 4.8rem;
  background-color: #c0e8f9 !important;
}

.container-fluid {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* footer */
.f-info {
  background-color: #3c3744;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.f-info a {
  text-decoration: none;
  color: white;
}

/* cards */
.listing-link {
  text-decoration: none;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem !important;
  border-radius: 1rem !important;
}

.card-img-top {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  object-fit: cover !important;
}
